/spice
/bin/
/dist/
/.spice/cache/
/local.spice.go
/coverage.out
/out/
/editors/zed/target/
/editors/goland/.gradle/
/editors/goland/.intellijPlatform/
/editors/goland/build/
/editors/goland/allure-results/
*.test
.DS_Store
.idea/
.vscode/
